openapi: 3.0.3
info:
  title: Arbarea Mobile App API
  description: |
    REST API для мобильного веб-магазина изделий из дерева Arbarea.

    ## Аутентификация
    API использует Bearer токены Supabase для аутентификации.
    Передавайте токен в заголовке `Authorization: Bearer <token>`.

    ## Ошибки
    Все ошибки возвращаются в формате:
    ```json
    {
      "success": false,
      "error": "Описание ошибки"
    }
    ```
  version: 1.0.0
  contact:
    name: Arbarea Support
    email: info@arbarea.ru
    url: https://arbarea.ru
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://arbarea.ru/api
    description: Production
  - url: http://localhost:3000/api
    description: Local Development

tags:
  - name: Payments
    description: Операции с платежами
  - name: Notifications
    description: Telegram уведомления
  - name: Delivery
    description: Интеграция с СДЭК
  - name: Health
    description: Проверка состояния

paths:
  /health:
    get:
      tags:
        - Health
      summary: Проверка здоровья API
      description: Возвращает статус работоспособности API
      operationId: getHealth
      responses:
        '200':
          description: API работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  /create-payment:
    post:
      tags:
        - Payments
      summary: Создать платёж
      description: |
        Инициализирует платёж через Tinkoff Acquiring API.
        Создаёт запись заказа в базе данных и возвращает URL для оплаты.
      operationId: createPayment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            example:
              items:
                - id: 101
                  name: 'Рейлинг Ясень'
                  price: 2500
                  quantity: 1
              orderId: 'ARB-ABC123-XYZ'
              description: 'Заказ ARB-ABC123-XYZ'
              customerEmail: 'user@example.com'
              customerPhone: '+79991234567'
              customerName: 'Иван Иванов'
              deliveryId: 'cdek'
              deliveryAddress: 'Москва, ул. Примерная, д. 1'
      responses:
        '200':
          description: Платёж успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /payment-webhook:
    post:
      tags:
        - Payments
      summary: Webhook подтверждения платежа
      description: |
        Endpoint для callback от Tinkoff при изменении статуса платежа.
        Обновляет статус заказа и отправляет уведомление в Telegram.
      operationId: paymentWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TinkoffWebhookPayload'
      responses:
        '200':
          description: Webhook обработан
          content:
            text/plain:
              schema:
                type: string
                example: 'OK'
        '400':
          description: Неверная подпись или данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /send-telegram:
    post:
      tags:
        - Notifications
      summary: Отправить Telegram уведомление
      description: Отправляет сообщение в указанный Telegram чат
      operationId: sendTelegram
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramRequest'
      responses:
        '200':
          description: Сообщение отправлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '500':
          description: Ошибка отправки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cdek:
    post:
      tags:
        - Delivery
      summary: API СДЭК
      description: Проксирует запросы к API СДЭК для расчёта доставки
      operationId: cdekProxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [calculate, cities, offices]
                  description: Тип операции
                data:
                  type: object
                  description: Данные для запроса
      responses:
        '200':
          description: Успешный ответ от СДЭК
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Ошибка СДЭК API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT токен

  schemas:
    CreatePaymentRequest:
      type: object
      required:
        - items
        - customerEmail
        - customerPhone
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CartItem'
        orderId:
          type: string
          description: Уникальный ID заказа (генерируется если не указан)
          example: 'ARB-ABC123-XYZ'
        description:
          type: string
          description: Описание платежа
          maxLength: 250
        customerEmail:
          type: string
          format: email
          description: Email покупателя
        customerPhone:
          type: string
          pattern: '^\+?[0-9]{10,15}$'
          description: Телефон покупателя
        customerName:
          type: string
          description: Имя покупателя
        deliveryId:
          type: string
          enum: [cdek, wildberries, ozon, boxberry, pochta, courier]
          description: Способ доставки
        deliveryAddress:
          type: string
          description: Адрес доставки

    CartItem:
      type: object
      required:
        - id
        - price
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
          description: ID продукта или donate-{amount}
        name:
          type: string
        price:
          type: number
          minimum: 0
        quantity:
          type: integer
          minimum: 1
          default: 1

    PaymentResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        paymentUrl:
          type: string
          format: uri
          description: URL для перехода на страницу оплаты
          example: 'https://securepay.tinkoff.ru/...'
        paymentId:
          type: string
          description: ID платежа в системе Tinkoff
        orderId:
          type: string
          description: ID заказа

    TinkoffWebhookPayload:
      type: object
      properties:
        TerminalKey:
          type: string
        OrderId:
          type: string
        Success:
          type: boolean
        Status:
          type: string
          enum: [AUTHORIZED, CONFIRMED, REVERSED, REFUNDED, PARTIAL_REFUNDED, REJECTED]
        PaymentId:
          type: integer
        ErrorCode:
          type: string
        Amount:
          type: integer
          description: Сумма в копейках
        Token:
          type: string
          description: Подпись для верификации

    TelegramRequest:
      type: object
      required:
        - message
      properties:
        chatId:
          type: string
          description: ID чата (по умолчанию из env)
        message:
          type: string
          description: Текст сообщения
        parseMode:
          type: string
          enum: [HTML, Markdown]
          default: HTML

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Описание ошибки

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_id:
          type: string
        user_id:
          type: string
          format: uuid
          nullable: true
        user_email:
          type: string
          format: email
        user_phone:
          type: string
        user_name:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: number
        shipping:
          type: number
        total:
          type: number
        delivery_method:
          type: string
        delivery_address:
          type: string
        status:
          type: string
          enum: [pending_payment, paid, processing, shipped, delivered, cancelled, refunded]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        price:
          type: number
        old_price:
          type: number
          nullable: true
        category:
          type: string
        subcategory:
          type: string
          nullable: true
        images:
          type: array
          items:
            type: string
        colors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              hex:
                type: string
        sizes:
          type: array
          items:
            type: object
            properties:
              value:
                type: integer
              label:
                type: string
              priceMod:
                type: number
        in_stock:
          type: boolean
        featured:
          type: boolean
        rating:
          type: number
          minimum: 0
          maximum: 5
